<!DOCTYPE html>
<html lang="pl" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ups..</title>
  <!-- <link rel="stylesheet" href="style-error.css"> -->
  <link rel="stylesheet" href = "{{url_for('static', filename = 'style-error.css')}}">
  <link rel="icon" href="{{url_for('static', filename = 'img/lower.png')}}">
</head>

<body>
    <div class="erors-box">
        <span class="error-heading error">404..</span>
        <span class="error-desc error">
           no nie powiem mamy tutaj jakis przerypanie porypany es problemos i tutaj ciekawa rzecz to taka ze ja pisze i nawet nie wiem co pisze dobr
        </span>
    </div>
    <script>
      //nie wiem czy dziala skrypt tak se to zrobilem jak cos wywal jak nie to git
      for(let i = 0; i < 3; i++)
        console.error('We got an error problem with page loading.')

    </script>
</body>

</html>

<!-- <p>Bląd 404 elo</p>  xddd -->
