<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AimTrainer</title>
    <link rel="stylesheet" href = "{{url_for('static', filename = 'game-page-style.css')}}">
    <link rel="icon" href="{{url_for('static', filename = 'img/lower.png')}}">
</head>
<body>
    <div class="game">
        <nav class="navbar">
            <a href="{{url_for('index')}}"><span class="title">aimTrainer</span></a>
            <div class="">
              {% if user != None and user != ''%}
                Zalogowano jako {{user}}
                Twój największy wynik: {{maxscore}}
                <form method = "POST" >
                  {{ form.hidden_tag()}}
                  {{ form.submit() }}
                </form>
                <a href="/userpage/{{login}}"><button>Profil</button></a>
              {%else%}
              <a href="/logowanie"><button>Zaloguj</button></a>
              <a href="/rejestracja"><button>Zarejestruj</button></a>

              {%endif%}
            </div>

        </nav>
        <div class="result-container">
            <span class="result-span">Zdobyłes! <span class="result"></span></span>
        </div>
        <div class="board">
            <ul class="ul-easy option-list">
                <li>- Duze kolka</li>
                <li>- 30 sekund gry</li>
                <button class="btn-easy btn-start" data-option="easy">Latwy</button>
            </ul>
            <ul class="ul-medium option-list">
                <li>- Srednie kolka</li>
                <li>- 20 sekund gry</li>
                <button class="btn-medium btn-start" data-option="medium">Sredni</button>
            </ul>
            <ul class="ul-hard option-list">
                <li>- Male kolka</li>
                <li>- 10 sekund gry</li>
                <button class="btn-hard btn-start" data-option="hard">Trudny</button>
            </ul>
        </div>
    </div>
<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
</body>
</html>
