<!DOCTYPE html>
<html lang="pl" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'logReg-styles.css')}}">
</head>
<body>
  <nav class="navbar">
    <a href="{{url_for('game')}}"><span class="title">AimTrainer</span></a>
  </nav>
  <div class="form-box">
    <div class="desc-box">
      <span class="heading desc-item">Zaloguj sie!</span>

      <img src="static/img/target.svg" class="desc-photo desc-item">
    </div>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.login(class="log-form login form-member" , placeholder="Login")}}
      {{ form.password(class="log-form password form-member", placeholder="Nick")}}
      {{ form.submit(class="log-form btn-start") }}
      {%for flash in get_flashed_messages()%}
        <p>{{flash}}</p>
      {%endfor%}
    </form>

  </div>
  <script src="static/js/valLog.js"></script>
  <!--
      Nie wiem czy mozna dodawac skrypty normlanie ale jak cos dodamy w lini
    -->
</body>
</html>
<!-- tutaj przy logowaniu tez dodaj placeholder bo  -->
<!-- tutaj przy logowaniu tez dodaj placeholder bo  -->
<!-- tutaj przy logowaniu tez dodaj placeholder bo  -->

<!--
<form method="POST">
  <input placeholder="Login" type="text" name="login" class="log-form login form-member">
  <input placeholder="Nick" type="text" name="nick" class="log-form nick form-member">
  <input type="password" placeholder="Haslo" name="password" class="log-form password form-member">
  <button type="submit" class="log-form btn-start">Zaloguj</button>
</form> -->
