# Default ignored files
/shelf/
/workspace.xml
/data.sqlite
# Datasource local storage ignored files
/../../../../../../../../../:\Users\viral\Desktop\PROGRAMOWANIE\PYTHON\PROJEKTY PYTHON\aimTrainer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
